<button type="button" class="btn btn-primary float-right m-2" *ngIf="!ActivateAddEditList" (click)="addClick()">
  Add To Do Item
</button>
<button type="button" class="btn btn-dark float-right m-2" *ngIf="ActivateAddEditList" (click)="closeClick()">
  Close
</button>

<app-add-edit-list [list]="list" [activ]="ActivateAddEditList" *ngIf="ActivateAddEditList"></app-add-edit-list>

<table class="table table-striped" *ngIf="!ActivateAddEditList">
  <tbody>
    <tr *ngFor="let listItem of toDoList">
      <td (click)="editStatus(listItem)" class="btn">{{listItem.listStatus}}</td>
      <td>{{listItem.listTask}}</td>
      <td>
        <button type="button" class="btn btn-primary float-right m-2" (click)="editClick(listItem)">Edit</button>
        <button type="button" class="btn btn-danger mr1" (click)="deleteClick(listItem)">Deleate</button>
      </td>
    </tr>
  </tbody>
</table>
